.search-form {
  margin-top: 40px;
  margin-bottom: 40px;
}

.form-rounded {
  border-radius: 1rem;
}

.current-video-description {
  background-color: #ddd;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  margin-right: 1rem;
}
.video-list-section {
  padding-top: 1rem;
  /* margin-bottom: 0.5rem; */
  /* margin-left: 1rem; */
  background-color: #ddd;
}

@media (min-width: 768px) {
  .video-list-section {
    margin-bottom: 1rem;
    /* margin-left: 5px; */
    background-color: #ddd;
  }
}
.smaller-video {
  padding-bottom: 0.5rem;
}

.video-title,
.video-description {
  padding-top: 3.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  word-wrap: break-word;
  text-align: center;
}
